<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Éditer un potin</title>
  </head>
 
  <body>
    <div class="row justify-content-md-center">
      <div class="col mb-4 text-center">

        <h1>Édite un potin </h1>
        <p>Modifie ton potin</p>
        <br/>

        <%= form_tag url_for(action: 'update'), method: "patch" do %>
          
          <%= label_tag 'Change le titre : ' %>
          <%= text_field_tag :gossip_title %>
          <br/>

          <%= label_tag 'Modifie ton potin : ' %>
          <%= text_area_tag :gossip_content %>
          <br/>

          <br />
          
          <%= submit_tag("Mettre à jour", :class =>"btn btn-success") %>

        <% end %>
      </div>
    </div>
  </body>
</html>